.row {
    box-sizing: content-box;
}

#header-div, #header-divPoints {
    display: flex;
    justify-content: center;
    font-size: -webkit-xxx-large;
}

.card {
    border: 2px black solid;
    background-color: lightyellow;
}

.interests--cards {
    margin: 5%;
}

.cards--place {
    background-color: teal;
    justify-content: center;
}

.group-places {
    display: flex;
}